body{
	background-image: url("mike.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    text-align: right;
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
    height: 60vh;
}
.main-div{
	margin-right: 160px;
	margin-top: 250px;
}
h1{
	color: #ff8040;
}
button{
	padding: 10px;
	font-size: large;
	margin-right: 10px;
	border: none;
	background-color: black;
	border-radius: 10px;
}
.inside{
	margin-right: 150px;
}
a{
	text-decoration: none;
	color: white;
}
button:hover {
	box-shadow: 0 0 20px -5px white;
	
}

