<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='addsongs.css'/>
	<meta charset="ISO-8859-1">
	<title>Add Songs</title>
	
</head>
<body>
	<div class='main-div'>
		<h1>Add Song</h1>
		<form action="addSongs" method="post">
			<label>Song Name</label>
			<br>
			<input type="text" name="name" class='input-text'/>
			<br><br>
			<label>Song Artist</label>
			<br>
			<input type="text" name="artist" class='input-text'/>
			<br><br>
			<label>Song Genre</label>
			<br>
			<input type="text" name="genre" class='input-text'/>
			<br><br>
			<label>Song Link</label>
			<br>
			<input type="text" name="link" class='input-text'/>
			<br><br>
			<input type="submit" value="ADD Songs" id='button'/>
		</form>
	</div>
</body>
</html>