<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Customer Home</title>
	<link rel='stylesheet' href='customerhome.css'/>
</head>
<body>
	<div class='main-div'>
	<header><h1 id="headerh1">Welcome to Customer Home page!</h1>
	<br>
	<p>Please choose any button of your choice.</p>
	<br>
	<button><a href="/exploreSongs">Explore Songs</a></button>
	
	<button><a href="/viewPlaylist">View Playlist</a></button>
	
	<button><a href="/create-playlist">Create Playlist</a></button>
	<button class="login" id="headerlogin"><a href="/map-login">Logout</a></button></header>
	</div>
	
</body>
</html>